* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

/* carousel  */

.feedback__list .owl-next {
  display: none !important;
}
.feedback__list .owl-prev {
  display: none !important;
}
.product__slider .owl-next {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  font-size: 60px !important;
  position: absolute !important;
  top: 317px !important;
  right: -60px !important;
  font-weight: 100 !important;
  background-color: #f4f4f4 !important;
  font-weight: lighter !important;
}
.product__slider .owl-next span {
  position: absolute;
  top: -24px;
  right: 15px;
}
.product__slider .owl-prev span {
  position: absolute;
  top: -24px;
  right: 18px;
}

.product__slider .owl-prev {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  font-size: 60px !important;
  position: absolute !important;
  top: 317px !important;
  left: -60px !important;
  font-weight: 100 !important;
  background-color: #f4f4f4 !important;
  font-weight: lighter !important;
}
.owl-dots {
  text-align: center;
  padding-top: 70px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #9c9c9c;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: var(--text-color);
  margin-bottom: 100px;
}

.owl-carousel .owl-nav.disabled {
  display: block;

  height: 50px;
}
.owl-carousel .owl-dots.disabled {
  display: block;
  margin: 0px auto;
}
/* end carousel  */
.header {
  width: 100%;
  background-image: url(../img/hd_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hd__top {
  padding-top: 196px;
}
.hd__top-title {
  max-width: 556px;
  color: #ffffff;
  font-size: 48px;
  line-height: 67.2px;
  font-family: Poppins;
  font-weight: bold;
  margin-bottom: 0px;
  font-style: normal;
  letter-spacing: 0.96px;
}
.hd__top-description {
  padding: 24px 0px 40px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  width: 470px;
  opacity: 0.9;
}
.btn-sale {
  background-color: #e37816;
  border-radius: 5px;
  height: 60px;
  font-weight: 600;
  padding: 6px 0px;
}
.btn-sale a {
  padding: 0px 46px 0px 52px;
  min-height: 24px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.btn-sale:hover {
  background-color: #e7a05d;
}
.hd__bottom {
  display: block;
  padding-bottom: 196px;
}
.hd__bottom-img {
  max-width: 370px;
  display: flex;
  justify-content: center;
}
.hd__bottom-img img {
  max-width: 162px;
  height: 18px;
  margin: 16px 0px 0px 0px;
  object-fit: contain;
}
.content {
  background-image: url(../img/bg_content.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content__desc {
  padding: 0;
}
.content__list-first {
  width: 100%;
}
.content__list-first-img {
  max-height: 470px;
}
.content__list-image {
  padding: 100px 0px;
}
.content__list-title {
  padding-left: 70px;
}
.content__desc-title {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
  padding: 195px 14px 0px 0px;
  font-family: Poppins;
  flex-grow: 0;
  letter-spacing: 0.8px;
}
.content__desc-detail {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding: 40px 0px 195px 0px;
  color: var(--text-color);
}
.content_bt {
  max-width: 570px;
  height: 1px;
  background-color: var(--text-color);
  margin: 0px auto;
  margin-bottom: 100px;
  opacity: 0.5;
}
.product__introduce {
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
  justify-content: center;
}
.product__title {
  max-width: 586px;
  height: 60px;
  margin: 0px auto 80px auto;
  font-size: 40px;
  font-weight: 500;
  color: #264c50;
}
.benrfits {
  background-image: url(../img/make_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.benrfits__introduce {
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 8px;
  padding-top: 100px;
  justify-content: center;
}
.benrfits__title {
  max-width: 590px;
  height: auto;
  display: block;
  text-align: center;
  margin: 0px auto 0px auto;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  padding: 0px 32px;
}

.make__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.card {
  width: auto;
  margin: 0px;
  padding: 0px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0 rgba(38, 76, 80, 0.2);
}
.card-body {
  padding: 0px;
}
.p__card-title {
  padding: 0px 0px 0px 19px;
  height: 3px;
  color: var(--text-color);
}
.p__card-title a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.p__card-title a:hover {
  color: #3c6c70;
}
.card-text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: var(--text-color);
  padding: 0px 26px 60px 26px;
  margin-left: 10px;
}
.benrfits-img-top {
  padding-bottom: 60px;
  border-radius: 10px;
}
.card-img-top {
  padding: 19px 19px 40px;
}
.card-title {
  text-align: center;
  height: 37px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.card-text {
  padding: 0px 42px 60px 42px;
}
.p__price {
  display: inline-block;
  max-width: 52px;
  /* height: 36px; */
  margin: 20px 2px 10px 17px;
  font-size: 24px;
  font-weight: 500;
  color: #d11105;
}
.p__price-origin {
  width: 46.5px;
  margin: 30px 227.5px 29px 3px;
  color: #aaaaaa;
  text-decoration: line-through;
}
.p__weight {
  margin: 2px 0px 4px 19px;
  font-size: 12px;
  font-weight: 300;
  color: #264c50;
}
.p__sku {
  margin: 4px 0px 24px 19px;
  font-size: 12px;
  font-weight: 300;
  color: var(--text-color);
}
.view__more {
  border: 0px;
  display: block;
  max-width: 170px;
  height: 40px;
  margin: 24px 0px 40px 19px;
  border-radius: 5px;
  background-color: #e37816;
}
.view__more:hover {
  background-color: #fc800d;
}
.view__more a {
  text-decoration: none;
  color: var(--white-color);
}
.btn__minus {
  margin-left: 19px;
  margin-bottom: 24px;
  max-width: 80px;
  height: 30px;
  padding: 0px 22px;
  border-radius: 5px;
  background-color: #d9f1f0;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
}
.btn__out {
  width: 80px;
  height: 30px;
  padding: 4px 6px 6px 5px;
  border-radius: 5px;
  background-color: #413b3b;
  font-size: 12px;
  font-weight: 500;
  color: var(--white-color);
  border: none;
}
.premium {
  background-color: #ffffff;
}
.premium__introduce {
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
  padding-top: 100px;
  justify-content: center;
}
.premium__title {
  max-width: 590px;
  display: block;
  text-align: center;
  margin: 0px auto 0px auto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-color);
}
.premium__share {
  display: grid;
  grid-template-columns: 1fr 600px;
  padding-bottom: 99px;
  padding-top: 80px;
}
.premium__four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.premium__beauty {
  background-color: #3c6c70;
  border-radius: 5px;
  box-shadow: 5px 20px 50px 0 rgba(38, 76, 80, 0.2);
}
.premium__special,
.premium__high,
.premium__rich {
  border-radius: 5px;
  box-shadow: 5px 20px 50px 0 rgba(38, 76, 80, 0.2);
  background-color: var(--white-color);
}
.premium__beauty-number {
  margin: 34px 0px 16px 24px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  color: #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.premium__beauty-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
  margin: 0px 0px 8px 24px;
}
.premium__beauty-desc {
  margin: 0px 10px 34px 24px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.premium__special-number,
.premium__high-number,
.premium__rich-number {
  margin: 34px 0px 16px 24px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid #e37816;
  text-align: center;
  padding: 8px;
  color: #e37816;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.premium__special-title,
.premium__high-title,
.premium__rich-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0px 0px 8px 24px;
}
.premium__special-desc,
.premium__high-desc,
.premium__rich-desc {
  margin: 0px 10px 34px 24px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.premium__bg {
  /* background-image: url(../img/premium_bg.png); */
  /* background-repeat: no-repeat; */
  margin-left: 100px;
  border-radius: 10px;
  position: relative;
}
.premium__bg-img {
  max-width: 499px;
  max-height: 530px;
}
.together {
  margin-bottom: 100px;
}

.together__let {
  background-image: url(../img/bg_ther.png);
  background-size: cover;
  width: 100%;
  padding-left: 100px;
}

.together__top-title {
  max-width: 437px;
  padding-top: 167px;
  text-align: center;
  color: var(--text-color);
  font-size: 48px;
  line-height: 1.4;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
  font-style: normal;
  letter-spacing: 0.96px;
}
.together__top-description {
  /* padding: 24px 0px 40px 0; */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  padding-right: 10px;
  padding-bottom: 40px;
  margin-right: 70px;
}

.together__bottom {
  display: block;
}
.together__bottom-img {
  max-width: 370px;
  display: flex;
  justify-content: center;
}
.together__bottom-img img {
  width: 162px;
  height: 18px;
  /* margin: 16px 290px 167px 283px; */
  margin: 16px auto 167px auto;
  object-fit: contain;
}
.together__bg-first {
  position: absolute;
  left: -84px;
  top: 473px;
}
.together__bg {
  position: relative;
}
.feedback {
  background-image: url(../img/freeback_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback__introduce {
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 8px;
  padding-top: 100px;
  justify-content: center;
}
.feedback__title {
  max-width: 590px;
  text-align: center;
  margin: 0px auto 80px auto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--white-color);
}
.feedback__item {
  border-radius: 5px;
  background-color: #f5f5f5;
}
.feedback__item-img {
  padding: 58px 0px 7px;
  min-width: 80px;
  min-height: 80px;
  margin: 0px auto;
}
.feedback__item-customer {
  padding-bottom: 20px;
  opacity: 0.6;
  font-size: 12px;
  font-weight: 300;
}
.feedback__item-desc {
  padding: 0px 32px;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  margin: 0px;
}

.feedback__item-star {
  padding: 40px 0px 16px 0px;
}
.feedback__item-star-icon {
  color: #fec80a;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.feedback__item-yummy {
  padding-bottom: 60px;
  text-align: center;
  color: #e37816;
  font-size: 16px;
  font-weight: 500;
}
.partners {
  padding-top: 100px;
}
.partners__brand {
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: center;
}
.partners__our {
  max-width: 590px;
  text-align: center;
  margin: 0px auto 40px auto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-color);
}
.partners__desc {
  max-width: 670px;
  display: block;
  margin: 0px auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  padding: 0px 7px 60px 7px;
}
.partners__trademark-list {
  display: flex;
  list-style: none;
  padding: 0px 0px 99px 0px;
  margin: 0px;
}
.partners__trademark-item {
  max-width: 234px;
  max-height: 80px;
}
.partners__trademark-item img {
  width: 100%;
  height: 100%;
}

.questions__introduce {
  opacity: 0.6;
  font-family: Poppins;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: center;
}
.questions__title {
  max-width: 590px;
  text-align: center;
  margin: 0px auto 63px auto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-color);
}
.questions__show {
  padding: 0px 285px 85px 285px;
}

.questions__show-item {
  margin-bottom: 15px;
}
.questions__show-name {
  width: 60px;
  height: 60px;
  background-color: var(--text-color);
  padding: 12px 20px 12px 21px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
  text-align: center;
}
.questions__show-desc {
  margin-left: 40px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  max-width: 751px;
}
.questions__show-hr {
  max-width: 870px;
  height: 1px;
  margin: 39px 186px 40px 0px;
  opacity: 0.1;
  background-color: var(--text-color);
}
.questions__op {
  font-weight: 300;
}
.footer {
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__title {
  max-width: 538px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-color);
  padding: 142px 0px 24px 0px;
  margin: 0px;
  letter-spacing: 0.96px;
}
.footer__desc {
  max-width: 497px;
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
}
.footer__bottom {
  display: block;
}
.footer__bottom-img {
  max-width: 370px;
  display: flex;
  justify-content: center;
}
.footer__bottom-img img {
  max-width: 162px;
  height: 18px;
  margin: 16px auto 141px auto;
}
.owl-carousel .owl-item img {
  width: auto;
}
